<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> -->
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/about.css') }}"></link> -->
    <link rel="stylesheet" type="text/css" href="../static/css/about.css"></link>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" scr="{{ url_for('static',filename='js/about.js') }}"></script>

    <script>
    function sortTable(n) {
      var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
      table = document.getElementById("myTable");
      switching = true;
      dir = "asc";
      while (switching) {
        switching = false;
        rows = table.rows;
        for (i = 1; i < (rows.length - 1); i++) {
          shouldSwitch = false;
          x = rows[i].getElementsByTagName("TD")[n];
          y = rows[i + 1].getElementsByTagName("TD")[n];
          if (dir == "asc") {
            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
              //if so, mark as a switch and break the loop:
              shouldSwitch= true;
              break;
            }
          } else if (dir == "desc") {
            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
              //if so, mark as a switch and break the loop:
              shouldSwitch = true;
              break;
            }
          }
        }
        if (shouldSwitch) {
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
          switchcount ++;
        } else {
          if (switchcount == 0 && dir == "asc") {
            dir = "desc";
            switching = true;
          }
        }
      }
    };

    function upperCaseF(a){
      setTimeout(function(){
          a.value = a.value.toUpperCase();
      }, 1);
    }

    </script>
    <title>About</title>
</head>
<body>
<body>
<div class ="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
              <li class="nav-item active">
                  <a class="nav-link" href="/parks"><strong>Parks</strong><span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="/parksModel">Parks Model<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="/rides"><strong>Rides</strong><span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="/ridesModel">Rides Model</a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="/accidents"><strong>Accidents</strong></a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="/accidentsModel">Accidents Model</a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="/about">[About]  <span class="sr-only">(current)</span></a>
              </li>
              <form action="searchResults" method="get">
                  <input type="text" name="search" placeholder="search" value="" onkeydown="upperCaseF(this)"/>
                  <input type="submit" value="Submit" />
              </form>
          </ul>
      </div>
  </nav>

        <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
            <div class="col-md-6 px-0">
                <h1 class="display-8 font-italic">Team Name: Zoe & Logan</h1>
                <p class="lead my-3">We wanted to do our IDB Project on DisneyLand and Six Flags, sources of joy in our childhoods!</p>
            </div>
        </div>
    <div class="row">
        <div class="col-md-6">
              <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 text-primary"></strong>
                        <h3 class="mb-0">
                            <a class="text-dark" href="#">Logan Hashmi</a>
                        </h3>
                        <img id="borderimg" src="http://i68.tinypic.com/2dl6r5t.jpg" width="250" height="250">
                        <p>Senior graduating Fall 2018 with a degree in Economics and the Elements of Computing certificate</p>
                        <p>"In this project, I was mainly responsible for the back end - building the framework of the website and setting up hosting. In the second phase, I implemented the databases. In the third phase, I implemented SQL to upgrade the DBs. I also made the splash page and About page."</p>
                        <p>Number of commits: 21<br>
                           Number of issues: 20<br>
                           Number of unit tests: 3</p>
                    </div>
              </div>
        </div>
        <div class="col-md-6">
              <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 text-primary"></strong>
                        <h3 class="mb-0">
                            <a class="text-dark" href="#" id="ZL">Zoe Littleton</a>
                        </h3>
                        <img id="borderimg" src="http://i64.tinypic.com/2qx3o7o.png" border="0" width="250" height="250">
                        <p>Super senior graduating Spring 2019 with degrees in Mechanical Engineering & Plan II and the Elements of Computing certificate</p>
                        <p>"In this project, I was responsible for the content and formatting of the main pages and models: Parks, Rides, and Accidents. I conducted research, entered data, wrote up descriptions, unified page formatting, cited sources, and embedded media. I also wrote the <a href="https://gitlab.com/Hashmi42/cs329e-idb-/wikis/Technical-Report">technical report</a>."</p>
                        <p>Number of commits: 19<br>
                           Number of issues: 26<br>
                           Number of unit tests: 3</p>
                    </div>
            </div>
        </div>
    </div>
    <div style="background-color:yellow; border-style: double; font-size:36px; text-align:center">
      <a href="/test"><strong>RUN UNIT TESTS</strong></a>
    </div>
    <br>

    <a href="https://gitlab.com/Hashmi42/cs329e-idb-/issues">Here is a link to the GitLab Issue Tracker</a><br>
    <a href="https://gitlab.com/Hashmi42/cs329e-idb-">Here is a link to the GitLab Repo</a><br>
    <a href="https://gitlab.com/Hashmi42/cs329e-idb-/wikis/Technical-Report">Here is a link to the GitLab Wiki</a><br>
    <a href="https://speakerdeck.com/zlittleton/group-12-idb-project">Here is a link to the SpeakerDeck</a>

    <br>
    <br>


    <div>
        <h3>Total Stats</h3>
        <p>(Note: We used pair programming on this project, so some elements were collaborative, like the unit tests.)<br>
          Number of commits: 40<br>
          Number of issues: 46<br>
          Number of unit tests: 3</p>

        <h3>Data</h3>
        <p>Outside sources for articles, information, and media are linked throughout the pages. <br>There is also an "Other References" section at the bottom of each content page (Parks, Rides, Accidents) with any other sources that were referenced but not directly cited/linked.<br>
        All data was manually collected by internet research of individual sources. There was no existing database of theme park information to scrape.</p>

    </div>

    <div>
        <h3>Tools used in this project</h3>

        <table id='myTable' class="table">
              <thead class="thead-dark" >
                    <tr>
                        <th scope="col">#</th>
                        <th onclick="sortTable(0)">Frontend</th>
                        <th onclick="sortTable(1)">Backend</th>
                        <th onclick="sortTable(2)">Hosting</th>
                    </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>HTML</td>
                  <td>Python</td>
                  <td>Google Cloud Platform</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>CSS</td>
                  <td>Flask</td>
                  <td>NameCheap</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Flask</td>
                  <td>PostgreSQL</td>
                  <td>GitLab</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>JavaScript</td>
                  <td>SQLAlchemy</td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>Bootstrap</td>
                  <td>JSON</td>
                  <td></td>
                </tr>
              </tbody>
        </table>
    </div>


</div>
</body>
</html>
