<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/about.css"></link>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" scr="{{ url_for('static',filename='js/about.js') }}"></script>

    <title>Accidents</title>

</head>
<body>

<div class ="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
              <li class="nav-item active">
                  <a class="nav-link" href="/parks"><strong>Parks</strong><span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="/parksModel">Parks Model<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="/rides"><strong>Rides</strong><span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="/ridesModel">Rides Model</a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="/accidents"><strong>Accidents</strong></a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="/accidentsModel">Accidents Model</a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="/about">[About]  <span class="sr-only">(current)</span></a>
              </li>
              <form action="searchResults" method="get">
                  <input type="text" name="search" placeholder="search" value="" onkeydown="upperCaseF(this)"/>
                  <input type="submit" value="Submit" />
              </form>
          </ul>
      </div>
  </nav>

            <br>
            <h1>Theme Park Accidents</h1>
            <hr>
            <p>You hope it won't happen to you. And statistically, <strong>it won't</strong>: according to the International Association of Amusement Parks and Attractions <a href="http://www.iaapa.org/safety-and-advocacy/safety/amusement-ride-safety">(IAAPA)</a>, there's just a <strong>1 in 17 million</strong> chance of serious injury on a ride at an American amusement park.</p>

            <div id="carnival" style="padding-left:25px; font-size:14px;">
                 <p>*Of note is that this statistic is for "fixed-site" rides only. <strong>Smaller carnival rides</strong> tend to have more frequent and more dangerous accidents than the larger fixed installations found at amusement parks.</p>
                <p style="margin-top:-12px;">*This can be due to carnival rides having:
                <ul style="padding-left:25px; margin-top: -15px;">
                    <li>lower-quality materials/construction;</li>
                    <li>frequent assembly & disassembly (a dangerous process due to the high-powered motors + heavy metal parts of rides);</li>
                    <li>less stringent inspections, potentially leading to structural neglect or safety issues.</li>
                </ul></p>
            </div>

            <p>Theme park rides are inherently risky are because they are <strong>huge machines</strong>. They require the work and diligence of several people to assemble, operate, inspect, and maintain, and thousands of things can go wrong at any of these steps due to the sheer <strong>complexity of mechanical and electrical structures</strong> along with the <strong>unpredictability of human behavior</strong>.</p>
            <p>Frequent and thorough <strong>inspections</strong> can help spot and prevent potential causes of failure in rides. But inspections are not foolproof.<br>In fact, there are instances of accidents happening on rides that had just passed inspection the previous day: <a href="#a7">[1]</a>, <a href="#a8">[2]</a>.</p>
            <p>In the end, some ride accidents occur due to reasons outside of the control of the park, ride, operator, or maintainer; there are freak mechanical failures, unexpected weather conditions, power outages.</p>
            <p>The best thing to do to reduce your chance of an amusement park accident is to <strong>properly follow all instructions and safety measures</strong>.<br>After all, 60% of ride injuries are simply caused by guests "behaving inappropriately" <a href="https://www.nbcnews.com/news/us-news/number-accidents-due-amusement-park-rides-might-be-higher-you-n787286">(Outdoor Amusement Business Association)</a>.</p>


            <br>
            <hr>
            <h2 id="FW"> Ferris Wheel Accidents </h2>

            <img src="https://cbsnews1.cbsistatic.com/hub/i/r/2016/08/09/0191f001-dbc7-41a2-8155-3468189aece2/thumbnail/620x350/fcea4809d0a23bd20f438eb807296cda/ferrishweel.jpg" border="0" alt="Overturned Ferris wheel cars">
            <p><i><small>Overturned Ferris wheel cars in Greeneville, TN. 3 young girls fell out and were seriously injured.</small></i></p>
            <p style="margin-top: -20px;"><i><small><a href="https://www.cbsnews.com/news/investigators-find-possible-cause-for-ferris-wheel-accident-in-tennessee/">(Image/Story)</a></small></i></p>


            <div style="padding-left:25px; padding-right:25px; background-color:lightpink; border-style: double;">
                <br>
                <p>Major risks of <a href="rides#FW">Ferris wheels</a> include their <strong>height</strong>, <strong>free-swinging cars</strong>, and <strong>high-powered electrical and mechanical drive systems</strong>.</p>
                <p>Ferris wheel accidents are especially common at <a href="#carnival">carnivals</a> since a small, local event is much more likely to have a family-friendly Ferris wheel than it is to have a riskier and more complex ride like a <a href="rides#RC">roller coaster</a>.</p>

                <p>The most dangerous Ferris wheel accidents tend to involve a <strong>fall</strong>. This is especially prevalent with <strong>children</strong> since they can be small enough or squirmy enough to slip out of restraints, yet not strong enough to cling on to something to prevent falling.</p>
                <p><ins>Examples of Ferris wheel accidents:</ins></p>
                <ul style="margin-top: -10px;">
                    {% for item in accidents_db %}
                      {% if item.id == 1 or item.id == 2 or item.id == 3 %}
                        {% if item.id == 1 %}
                          <li id="a1"><strong>{{ item.cause }} - {{ item.dmg }}</strong>
                        {% elif item.id == 2 %}
                          <li id="a2"><strong>{{ item.cause }} - {{ item.dmg }}</strong>
                        {% elif item.id == 3 %}
                          <li id="a3"><strong>{{ item.cause }} - {{ item.dmg }}</strong>
                        {% else %}
                        {% endif %}
                            <p><a href="{{ item.ext_link }}">{{ item.date_of_event }}</a> at {{ item.park }} in {{ item.city }},{{ item.state }}</p>
                            <p style="margin-left: 20px">{{ item.description }}</p>
                          </li>
                      {% else %}
                      {% endif %}
                    {% endfor %}
                </ul>
                <br>
            </div>
            <br>
            <br>
            <hr>
            <h2 id="RC"> Roller Coaster Accidents </h2>

            <img src="https://img.diply.com/article-images/a/9b1c868c-df5d-45ce-ab17-880f7a7b7341.jpg?imwidth=741" border="0" alt="Overturned Ferris wheel cars" width="500" height="375">
            <p><i><small>The <a href="#mindbender">Mindbender derailment</a> of 1986. The loose car crashed into a pole, killing 3.</small></i></p>
            <p style="margin-top: -20px;"><i><small><a href="https://diply.com/article/life-ruining-roller-coaster-accidents?config=25">(Image)</a></small></i></p>


            <div style="padding-left:25px; padding-right:25px; background-color:lightpink; border-style: double;">
                <br>
                <p>Major risks of <a href="rides#RC">roller coasters</a> include their <strong>height</strong>, <strong>high speeds</strong>, <strong>rapid directional changes</strong>, and <strong>track-based operation</strong>.</p>
                <p>Roller coaster accidents commonly occur due to <strong>restraint failure</strong>, whether by mechanical or human error. The high speeds and rapid turns of this ride mean that any object or person without proper restraint can be thrown out with unprecedented force, usually followed by a fatal <strong>fall</strong> from great heights.</p>
                <p>Additionally, the train-on-track construction combined with high speeds can cause loss of limb or even decapitation should anyone be unlucky enough to be in the way of the cart and get <strong>struck by train</strong>. There is also the risk that the train could <strong>derail</strong>.</p>

                <p><ins>Examples of roller coaster accidents:</ins></p>
                <ul style="margin-top: -10px;">
                    {% for item in accidents_db %}
                      {% if item.id == 4 or item.id == 5 or item.id == 6 or item.id == 7 %}
                        {% if item.id == 4 %}
                          <li id="a4"><strong>{{ item.cause }} - {{ item.dmg }}</strong>
                        {% elif item.id == 5 %}
                          <li id="a5"><strong>{{ item.cause }} - {{ item.dmg }}</strong>
                        {% elif item.id == 6 %}
                          <li id="a6"><strong>{{ item.cause }} - {{ item.dmg }}</strong>
                        {% elif item.id == 7 %}
                          <li id="a7"><strong>{{ item.cause }} - {{ item.dmg }}</strong>
                        {% else %}
                        {% endif %}
                            <p><a href="{{ item.ext_link }}">{{ item.date_of_event }}</a> at {{ item.park }} in {{ item.city }},{{ item.state }}</p>
                            <p style="margin-left: 20px">{{ item.description }}</p>
                          </li>
                      {% else %}
                      {% endif %}
                    {% endfor %}
                </ul>
                <br>
            </div>

            <br>
            <br>
            <hr>
            <h2 id="SR"> Swing Ride Accidents </h2>


            <iframe width="560" height="315" src="https://www.youtube.com/embed/5AZYeoZAixk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <p><i><small>Swing ride at Temple Fair in China suddenly collapses, dropping its riders. 9 were injured.</small></i></p>
            <p style="margin-top: -20px;"><i><small><a href="https://www.youtube.com/watch?v=5AZYeoZAixk">(Video)</a> | <a href="https://metro.co.uk/2017/03/13/horrifying-moment-fairground-ride-crashes-into-ground-injuring-nine-6505967/">(Story)</a></small></i></p>

            <div style="padding-left:25px; padding-right:25px; background-color:lightpink; border-style: double;">
                <br>
                <p>Major risks of <a href="rides#SR">swing rides</a> include their <strong>height</strong>, <strong>momentum</strong>, and <strong>dangling-rider setup</strong>.</p>
                <p>A swing ride ends by gradually applying brakes to slow the rotation of the central pole/ceiling. This way, each individual chair doesn't require its own set of brakes and can swing freely on its chain during the ride.<br>However, the principle of momentum means that if the ride <strong>suddenly stops</strong> - for example, due to a mechanical jam or loss of electricity - then the swinging objects (riders) continue on their path at speed, unimpeded, causing <strong>collisions</strong>.</p>
                <p>Additionally: as with the other ride types, <strong>restraint failure</strong> can cause a <strong>fall</strong> from a great height. This is especially dangerous since the chairs are held to the central structure only by centripetal force through the chain, so if a chain breaks or a rider is released from their chair by a faulty harness, they will be <strong>ejected</strong> with equal and opposite centripetal force, increasing impact damage.</p>
                <p>Overall, swing ride accidents tend to be <strong>less fatal</strong> than roller coaster accidents since motion is constant once the ride reaches speed. In contrast, roller coasters undergo rapid dynamic movements such as steep turns and drops that result in highly variant forces.</p>

                <p><ins>Examples of swing ride accidents:</ins></p>
                <ul style="margin-top: -10px;">
                    {% for item in accidents_db %}
                      {% if item.id == 8 or item.id == 9 or item.id == 10 %}
                        {% if item.id == 8 %}
                          <li id="a8"><strong>{{ item.cause }} - {{ item.dmg }}</strong>
                        {% elif item.id == 9 %}
                          <li id="a9"><strong>{{ item.cause }} - {{ item.dmg }}</strong>
                        {% elif item.id == 10 %}
                          <li id="a10"><strong>{{ item.cause }} - {{ item.dmg }}</strong>
                        {% else %}
                        {% endif %}
                            <p><a href="{{ item.ext_link }}">{{ item.date_of_event }}</a> at {{ item.park }} in {{ item.city }},{{ item.state }}</p>
                            <p style="margin-left: 20px">{{ item.description }}</p>
                          </li>
                      {% else %}
                      {% endif %}
                    {% endfor %}
                </ul>
                <br>
            </div>

            <br>
            <hr>
            
            <h4> Other References </h4>
            <ol>
                <li><a href=https://www.nolo.com/legal-encyclopedia/amusement-park-accidents-32457.html>Nolo</a> (legal organization)'s summary of amusement park accident causes & statistics</li>
                <li><a href="http://www.observationwheeldirectory.com/ferriswheelarticles/ferris-wheel-accidents/">Ferris Wheel Accidents</a></li>
                <li><a href="https://adventure.howstuffworks.com/destinations/theme-parks/10-deadliest-roller-coaster-accidents.htm">Roller Coaster Accidents</a></li>
            </ol>
            <a href="https://www.safewise.com/blog/10-tips-for-amusement-park-safety/"><img src="https://i.pinimg.com/originals/c1/6f/c5/c16fc50d4c919ea80a6e13fc810fda71.jpg" width="400" height="260"></a>
            <p>Many non-ride-accident injuries and deaths at amusement parks occur when people push themselves beyond their limits: dehydration, heat exhaustion, or triggering of health conditions on overly intense rides. This article provides good advice for taking care of yourself during a day at the park.<br><strong>Stay safe!</strong><br></p>
    </div>
</body>
</html>
