<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css') }}"> -->
    <title>Theme Parks</title>
<script type="text/javascript">
function upperCaseF(a){
  setTimeout(function(){
      a.value = a.value.toUpperCase();
  }, 1);
}
</script>


</head>
<body>
    <body>
<div class ="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
              <li class="nav-item active">
                  <a class="nav-link" href="/parks"><strong>Parks</strong><span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="/parksModel">Parks Model<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="/rides"><strong>Rides</strong><span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="/ridesModel">Rides Model</a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="/accidents"><strong>Accidents</strong></a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="/accidentsModel">Accidents Model</a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="/about">[About]  <span class="sr-only">(current)</span></a>
              </li>
              <form action="searchResults" method="get">
                  <input type="text" name="search" placeholder="search" value="" onkeydown="upperCaseF(this)"/>
                  <input type="submit" value="Submit" />
              </form>
          </ul>
      </div>
  </nav>



</div>
        <div class="container">
            <div style="width:100%;height:0;padding-bottom:56%;position:relative;"><iframe src="https://giphy.com/embed/3SPS42CPDdxY2hCEcuc" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
              <div class="row">
                <div class="col">
                    <iframe src="https://giphy.com/embed/ReImZejkBnqYU" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                </div>
                <div class="col">
                    <iframe src="https://giphy.com/embed/lBCFp0VfdPTr2" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                </div>
              </div>
            <div class="text-center">
                <div class="col center">
                    <iframe src="https://giphy.com/embed/l0Iy3M3nCRQSyMRMI" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                </div>
              </div>
            </div>
            <div style="width:100%;height:0;padding-bottom:70%;position:relative;"><iframe src="https://giphy.com/embed/kolvlRnXh8Jj2" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
    </div>



</body>
</html>
