<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="template/static/css/index.css">
    <link rel="stylesheet" type="text/css" href="../static/css/about.css"></link>

    <title>Parks</title>

</head>
<body>
  
<div class ="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
              <li class="nav-item active">
                  <a class="nav-link" href="/parks"><strong>Parks</strong><span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="/parksModel">Parks Model<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="/rides"><strong>Rides</strong><span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="/ridesModel">Rides Model</a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="/accidents"><strong>Accidents</strong></a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="/accidentsModel">Accidents Model</a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="/about">[About]  <span class="sr-only">(current)</span></a>
              </li>
              <form action="searchResults" method="get">
                  <input type="text" name="search" placeholder="search" value="" onkeydown="upperCaseF(this)"/>
                  <input type="submit" value="Submit" />
              </form>
          </ul>
      </div>
  </nav>

            <br>
            <h1>Theme Parks</h1>
            <hr>

            <h2 id="DisneyLand"> DisneyLand </h2>

            <table>
                <tr>
                    <td style="word-wrap:break-word; max-width:500px;">
                        <ul>
                          {% for item in parks_db %}
                            {% if item.name == "DisneyLand" %}
                              <li><strong>Location: </strong> {{ item.location }}</li>
                              <li><strong>Description: </strong> {{ item.description }}</li>
                              <li><strong>Size: </strong> {{ item.size }}</li>
                              <li><strong>Opened: </strong> {{ item.opened }} ({{ item.age }} years ago)</li>
                              <li><strong><a href="http://www.teaconnect.org/images/files/TEA_268_653730_180517.pdf">Annual Visitors:</a></strong> {{ item.annual_visitors }}</li>
                              <li><strong><a href="https://disneyland.disney.go.com/tickets/">Ticket Prices:</a></strong> {{ item.ticket_price }}</li>
                              <li><strong>Operating Season: </strong>{{ item.season }}</li>
                            {%else%}
                            {%endif%}
                          {% endfor %}
                        </ul>
                        <a href="https://disneyland.disney.go.com/destinations/disneyland/" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true" style="margin-left:33px">Visit DisneyLand.com</a>
                    </td>
                    <td><img src="https://secure.cdn1.wdpromedia.com/resize/mwImage/1/640/360/75/dam/wdpro-assets/dlr/gallery/destinations/disneyland-park/disneyland-gallery00.jpg?1504908934350" border="0" alt="DisneyLand"></td>
                </tr>
                <tr style="background-color:white">
                    <td></td>
                    <td><p><i><small><a href="https://disneyland.disney.go.com/destinations/disneyland/">(Image)</a></small></i></p>
                    </td>
                </tr>
            </table>



            <div style="padding-left:25px; background-color:lightblue; border-style: double;">
                <br>
                <h4><strong>Selected Rides:</strong></h4>
                <table border="0">
                    <tr>
                        <td><img src="https://cdn1.parksmedia.wdprapps.disney.com/media/blog/wp-content/uploads/2016/09/ksjdnf313.jpg" width="550" height=315></td>

                        <td>
                          <ul style="padding-right:20px;">
                            <br>
                            <li><a href="rides#FW"><ins>Ferris Wheel</ins></a>: <br><a href="https://disneyland.disney.go.com/attractions/disney-california-adventure/pixar-pal-a-round-swinging/">Pixar Pal-A-Round</a>, a 150 ft tall ride with unique gondolas that swing around on internal rails</li>
                            <p></p>
                            <li><a href="rides#RC"><ins>Roller Coaster</ins></a>: <br><a href="https://disneyworld.disney.go.com/attractions/magic-kingdom/big-thunder-mountain-railroad/">Big Thunder Mountain Railroad</a>, a 104 ft tall haunted mine themed coaster with tunnel sections</li>
                            <p></p>
                            <li><a href="rides#SR"><ins>Swing Ride</ins></a>: <br><a href="https://disneyland.disney.go.com/attractions/disney-california-adventure/silly-symphony-swings/">Silly Symphony Swings</a>, a 40 ft tall swing ride set to the <a href="https://www.youtube.com/watch?v=YIbYCOiETx0">William Tell Overture</a></li>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="https://disneyland.disney.go.com/attractions/disney-california-adventure/pixar-pal-a-round-swinging/">Pixar Pal-A-Round</a>, a <a href="rides#FW">Ferris wheel</a> at DisneyLand, backed by the Incredibles-themed <a href="https://disneyland.disney.go.com/attractions/disney-california-adventure/incredicoaster/">Incredicoaster</a>.   <a href="https://cdn1.parksmedia.wdprapps.disney.com/media/blog/wp-content/uploads/2016/09/ksjdnf313.jpg"><i><small>(Image)</small></i></a></td>
                    </tr>
                </table>
                <br>
            </div>


            <div style="padding-left:25px; padding-right:25px; background-color:lightpink; border-style: double;">
                <br>
                <h4><strong>Accidents:</strong></h4>
                <p>Between 1955 (the park's opening) and 2006, there were over 100 accidents at DisneyLand, resulting in 13 deaths.</p>
                <p style="margin-top:-12px">On one notable occasion, the Big Thunder Mountain Railroad roller coaster experienced a mechanical failure and <a href="accidents#a4">crashed in a tunnel</a>, killing a man.</p>
            </div>



            <br>
            <br>
            <hr>



            <h2 id="CedarPoint"> Cedar Point </h2>

            <table>
                <tr>
                    <td style="word-wrap:break-word; max-width:500px">
                        <ul>
                          {% for item in parks_db %}
                            {% if item.name == "Cedar Point" %}
                              <li><strong>Location: </strong> {{ item.location }}</li>
                              <li><strong>Description: </strong> {{ item.description }}</li>
                              <li><strong>Size: </strong> {{ item.size }}</li>
                              <li><strong>Opened: </strong> {{ item.opened }} ({{ item.age }} years ago)</li>
                              <li><strong><a href="http://www.teaconnect.org/images/files/TEA_268_653730_180517.pdf">Annual Visitors:</a></strong> {{ item.annual_visitors }}</li>
                              <li><strong><a href="https://www.metroparent.com/daily/family-fun/amusement-parks-water-parks/cedar-point-hours-ticket-costs-new-rides-and-more/">Ticket Prices:</a></strong> {{ item.ticket_price }}</li>
                              <li><strong>Operating Season: </strong>{{ item.season }}</li>
                            {%else%}
                            {%endif%}
                          {% endfor %}
                        </ul>
                        <a href="https://www.cedarpoint.com/" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true" style="margin-left:33px">Visit CedarPoint.com</a>
                    </td>
                    <td style="padding-left:50px"><img src="http://www.teaconnect.com/images/images/CedarPoint.jpg" width="600" height="350" border="0" alt="Cedar Point"></td>
                </tr>
                <tr style="background-color:white">
                    <td></td>
                    <td style="padding-left:50px"><p><i><small><a href="http://www.teaconnect.com/images/images/CedarPoint.jpg">(Image)</a></small></i></p>
                    </td>
                </tr>
            </table>


            <div style="padding-left:25px; background-color:lightblue; border-style: double;">
                <br>
                <h4><strong>Selected Rides:</strong></h4>
                <table border="0">
                    <tr>
                        <td>
                          <iframe width="560" height="315" src="https://www.youtube.com/embed/MybcORGVkEU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></td>

                        <td>
                          <ul style="padding-right:20px;">
                            <br>
                            <li><a href="rides#RC"><ins>Roller Coasters</ins></a>: <br>Cedar Point flaunts its title as <strong>The Roller Coaster Capital of the World</strong> and has a <a href="https://www.cedarpoint.com/play/rides-coasters">plethora</a>  of coasters to explore.
                            <p></p>
                            <ul>
                              <li>Its <a href="https://www.cedarpoint.com/play/rides/top-thrill-dragster">Top Thrill Dragster</a> accelerates from 0 to 120mph in just 3.8 seconds.</li>
                              <p></p>
                              <li>The <a href="https://www.cedarpoint.com/play/rides/millennium-force">Millenium Force</a> broke height (310 ft) and speed (93 mph) records when it opened in 2000.</li>
                              <p></p>
                              <li>The <a href="https://www.cedarpoint.com/play/rides/corkscrew">Corkscrew</a>, as its name implies, features several inversions (upside-down sections).</li>
                            </ul>
                          </li>
                        </ul>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="https://www.cedarpoint.com/play/rides/millennium-force">Millenium Force</a>, a <a href="rides#RC">roller coaster</a> at Cedar Point.    <a href="https://www.youtube.com/watch?v=MybcORGVkEU"><i><small>(Video)</small></i></a></td>
                    </tr>
                </table>
                <br>
            </div>


            <div style="padding-left:25px; padding-right:25px; background-color:lightpink; border-style: double;">
                <br>
                <h4><strong>Accidents:</strong></h4>
                <p>Cedar Point has <a href="https://en.wikipedia.org/wiki/Incidents_at_Cedar_Fair_parks#Cedar_Point">not had many fatal accidents at all.</a> Most accidents are roller coaster collisions or mechanical/electrical errors stranding riders on the track.</p>
                <p style="margin-top:-12px">One significant fatal accident was not even due to ride failure. A man <a href="accidents#a6">hopped into a restricted area</a> underneath the Raptor coaster to retrieve his dropped belongings and was struck by the train of the ride as it passed by.</p>
            </div>


            <br>
            <br>
            <hr>



            <h2 id="FiestaTexas"> Six Flags Fiesta Texas </h2>

            <table>
                <tr>
                    <td style="word-wrap:break-word; max-width:500px;">
                        <ul>
                          {% for item in parks_db %}
                            {% if item.name == "Six Flags Fiesta Texas" %}
                              <li><strong>Location: </strong> {{ item.location }}</li>
                              <li><strong>Description: </strong> {{ item.description }}</li>
                              <li><strong>Size: </strong> {{ item.size }}</li>
                              <li><strong>Opened: </strong> {{ item.opened }} ({{ item.age }} years ago)</li>
                              <li><strong><a href="http://www.teaconnect.org/images/files/TEA_268_653730_180517.pdf">Annual Visitors:</a></strong> {{ item.annual_visitors }}</li>
                              <li><strong><a href="https://www.sixflags.com/fiestatexas/store/tickets">Ticket Prices:</a></strong> {{ item.ticket_price }}</li>
                              <li><strong>Operating Season: </strong>{{ item.season }}</li>
                            {%else%}
                            {%endif%}
                          {% endfor %}
                        </ul>
                        <a href="https://www.sixflags.com/fiestatexas/" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true" style="margin-left:33px">Visit SixFlags.com/FiestaTexas</a>
                    </td>
                    <td style="padding-left:50px"><img src="https://www.backpackertravel.org/wp-content/uploads/2016/01/six-flags-fiesta.jpg" width="700" height="400" border="0" alt="Six Flags"></td>
                </tr>
                <tr tr style="background-color:white">
                    <td></td>
                    <td style="padding-left:50px"><p><i><small><a href="https://www.backpackertravel.org/wp-content/uploads/2016/01/six-flags-fiesta.jpg">(Image)</a></small></i></p>
                    </td>
                </tr>
            </table>


            <div style="padding-left:25px; background-color:lightblue; border-style: double;">
                <br>
                <h4><strong>Selected Rides:</strong></h4>
                <table border="0">
                    <tr>
                        <td><img src="https://www.ajc.com/rf/image_lowres/Pub/p4/AJC/2013/05/10/Images/photos.medleyphoto.3405759.jpg" width="550" height=315></td>

                        <td>
                          <ul style="padding-right:20px;">
                            <br>
                            <li><a href="rides#FW"><ins>Ferris Wheel</ins></a>: <br><a href="https://www.sixflags.com/fiestatexas/attractions/crow%E2%80%99s-nest-ferris-wheel">Crow's Nest</a>, a 90 ft wheel overlooking a nighttime light show on the boardwalk</li>
                            <p></p>
                            <li><a href="rides#RC"><ins>Roller Coaster</ins></a>: <br><a href="https://www.sixflags.com/fiestatexas/attractions/poltergeist">Poltergeist</a>, a "spaghetti bowl" coaster that twists around in every possible way</li>
                            <p></p>
                            <li><a href="rides#SR"><ins>Swing Ride</ins></a>: <br><a href="https://www.sixflags.com/fiestatexas/attractions/skyscreamer">SkyScreamer</a>, a 200 ft tall swing ride that offers a 360-degree view of the park and the surrounding Texas countryside</li>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="https://www.sixflags.com/fiestatexas/attractions/skyscreamer">SkyScreamer</a>, a <a href="rides#SR">swing ride</a> at Six Flags Fiesta Texas.   <a href="https://www.ajc.com/rf/image_lowres/Pub/p4/AJC/2013/05/10/Images/photos.medleyphoto.3405759.jpg"><i><small>(Image)</small></i></a></td>
                    </tr>
                </table>
                <br>
            </div>


            <div style="padding-left:25px; padding-right:25px; background-color:lightpink; border-style: double;">
                <br>
                <h4><strong>Accidents:</strong></h4>
                <p>Accidents at this park tend to involve dehydration and fainting due to the Texas heat more than anything else.</p>
                <p style="margin-top:-12px">A 14-year old girl waiting in line for the Poltergeist coaster fainted from the heat and was <a href="https://www.chron.com/news/houston-texas/article/Report-finds-amusement-parks-didn-t-report-1747481.php">paralyzed</a> after falling 10 feet to the concrete below.</p>
            </div>

            <br>
            <hr>

            <h4> Other References </h4>
            <ol>
                <li><a href=https://cdn.aboutdisneyparks.com/sites/default/files/report/file/Disneyland%20Resort%20Fact%20Sheet_2018_Q3_Compressed.pdf>DisneyLand Fact Sheet</a></li>
                <li><a href=https://themeparks.lovetoknow.com/Disneyland_Statistics>DisneyLand Statistics</a></li>
                <li><a href="http://www.walkervilletimes.com/36/cedar-point">History of Cedar Point</a></li>
                <li><a href=https://en.wikipedia.org/wiki/Cedar_Point>Cedar Point (Wikipedia)</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Six_Flags_Fiesta_Texas">Six Flags Fiesta Texas (Wikipedia)</a></li>
            </ol>


    </div>
</body>
</html>
