<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/about.css"></link>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" scr="{{ url_for('static',filename='js/about.js') }}"></script>

    <script>
    function sortTable(n) {
      var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
      table = document.getElementById("myTable");
      switching = true;
      dir = "asc";
      while (switching) {
        switching = false;
        rows = table.rows;
        for (i = 1; i < (rows.length - 1); i++) {
          shouldSwitch = false;
          x = rows[i].getElementsByTagName("TD")[n];
          y = rows[i + 1].getElementsByTagName("TD")[n];
          if (dir == "asc") {
            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
              //if so, mark as a switch and break the loop:
              shouldSwitch= true;
              break;
            }
          } else if (dir == "desc") {
            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
              //if so, mark as a switch and break the loop:
              shouldSwitch = true;
              break;
            }
          }
        }
        if (shouldSwitch) {
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
          switchcount ++;
        } else {
          if (switchcount == 0 && dir == "asc") {
            dir = "desc";
            switching = true;
          }
        }
      }
    };

    function upperCaseF(a){
      setTimeout(function(){
          a.value = a.value.toUpperCase();
      }, 1);
    }

    </script>
    <title>Rides Model</title>

</head>
<body>
<body>
<div class ="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
              <li class="nav-item active">
                  <a class="nav-link" href="/parks"><strong>Parks</strong><span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="/parksModel">Parks Model<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="/rides"><strong>Rides</strong><span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="/ridesModel">Rides Model</a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="/accidents"><strong>Accidents</strong></a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="/accidentsModel">Accidents Model</a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="/about">[About]  <span class="sr-only">(current)</span></a>
              </li>
              <form action="searchResults" method="get">
                  <input type="text" name="search" placeholder="search" value="" onkeydown="upperCaseF(this)"/>
                  <input type="submit" value="Submit" />
              </form>
          </ul>
      </div>
  </nav>

  <br>
  <h1>Rides Model</h1>
  <hr>

  <ins>How to Use:</ins>
  <ul>
    <li><strong>Compare ride statistics</strong> such as speed and height to help plan your next theme park trip based on your ride preferences!</li>
    <li>>> Wondering in which <strong><a href="parksModel">park</a></strong> you can find a specific ride? --> Check the "Featured in Park" column towards the right side of the model.</li>
    <li>>> Wondering if a fatal <strong><a href="accidentsModel">accident</a></strong> has occurred on a specific ride? --> Check the "Had a fatal accident?" column on the right end of the model.</li>
  </ul>

  <br>
  <table id='myTable' class="table">
      <thead class="thead-dark" >
            <tr>
                <th scope="col">#</th>
                <th onclick="sortTable(0)">Name</th>
                <th onclick="sortTable(1)">First Built</th>
                <th onclick="sortTable(2)">Max Height</th>
                <th onclick="sortTable(3)">Speed</th>
                <th onclick="sortTable(4)">Duration</th>
                <th onclick="sortTable(5)">Featured in Park</th>
                <th onclick="sortTable(6)">Had a fatal accident?</th>
            </tr>
      </thead>
      <tbody>
        {% for item in rides_db %}
          <tr>
            <th scope="row"><a href="{{ item.category }}#{{ item.code }}">{{ item.id }}</a></th>
            <td>{{ item.name }}</td>
            <td>{{ item.first_built }}</td>
            <td>{{ item.max_height }}</td>
            <td>{{ item.speed }}</td>
            <td>{{ item.duration }}</td>
            <td>
              {% if item.name == "Ferris Wheel" %}
                <a href="parks#DisneyLand">{{ item.featured_in }}</a>
              {% elif item.name == "Roller Coaster" %}
                <a href="parks#CedarPoint">{{ item.featured_in }}</a>
              {% elif item.name == "Swing Ride" %}
                <a href="parks#FiestaTexas">{{ item.featured_in }}</a>
              {% else %}
              {% endif %}
            </td>
            <td>
              {% if item.name == "Ferris Wheel" %}
                <a href="accidents#a3">{{ item.had_fatal }}</a>
              {% elif item.name == "Roller Coaster" %}
                <a href="accidents#a7">{{ item.had_fatal }}</a>
              {% else %}
                {{ item.had_fatal }}
              {% endif %}
            </td>
         </tr>
        {% endfor %}
      </tbody>
  </table>
</body>
</html>