<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/about.css"></link>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" scr="{{ url_for('static',filename='js/about.js') }}"></script>

    <title>Rides</title>

</head>
<body>

<div class ="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
              <li class="nav-item active">
                  <a class="nav-link" href="/parks"><strong>Parks</strong><span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="/parksModel">Parks Model<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="/rides"><strong>Rides</strong><span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="/ridesModel">Rides Model</a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="/accidents"><strong>Accidents</strong></a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="/accidentsModel">Accidents Model</a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="/about">[About]  <span class="sr-only">(current)</span></a>
              </li>
              <form action="searchResults" method="get">
                  <input type="text" name="search" placeholder="search" value="" onkeydown="upperCaseF(this)"/>
                  <input type="submit" value="Submit" />
              </form>
          </ul>
      </div>
  </nav>
            <br>
            <h1>Theme Park Rides</h1>
            <hr>

            <h2 id="FW"> Ferris Wheels </h2>

            <table>
                <tr>
                    <td><img src="http://oi67.tinypic.com/2a6qyye.jpg" border="0" alt="Ferris Wheel in Austin, TX." width="350" height="329"></td>
                    <td align="top">
                        <ul>
                          {% for item in rides_db %}
                            {% if item.name == "Ferris Wheel" %}
                              <li><strong>Description: </strong>A <strong>{{ item.name }}</strong> {{ item.description }}</li>
                              <li><strong>History: </strong> {{ item.history }}</li>
                              <li><strong>Speed: </strong>{{ item.speed }}</li>
                              <li><strong>Duration: </strong> {{ item.duration }}</li>
                              <li><strong>Max Height: </strong> {{ item.max_height }}</li>
                            {% else %}
                            {% endif %}
                          {% endfor %}
                        </ul>
                    </td>
                </tr>
                <tr style="background-color: white;">
                    <td><p><i><small>Ferris wheel at the Trail of Lights in Austin, TX.</small></i></p>
                        <p style="margin-top: -20px;"><i><small>(Photo by <a href="about#ZL">Zoe Littleton</a>)</small></i></p>
                    </td>
                </tr>
            </table>
            <div style="padding-left:25px; background-color:lightblue; border-style: double;">
                <br>
                <h4><strong>Examples:</strong></h4>
                <table>
                    <tr>
                        <td style="vertical-align: top;"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/54/World_of_Color_overview.jpg/1024px-World_of_Color_overview.jpg" alt="Pixar Pal-A-Round" width="475" height=290></td>

                        <td><iframe width="535" height="290" src="https://www.youtube.com/embed/my3YFbXtm4A" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></td>
                    </tr>
                    <tr style="background-color:lightblue">
                        <td><a href="https://disneyland.disney.go.com/attractions/disney-california-adventure/pixar-pal-a-round-swinging/">Pixar Pal-A-Round</a> at <a href="parks#DisneyLand">DisneyLand,</a> Anaheim, CA   <a href="https://en.wikipedia.org/wiki/Pixar_Pal-A-Round#/media/File:World_of_Color_overview.jpg"><i><small>(Image)</small></i></a></td>

                        <td><a href="https://www.sixflags.com/fiestatexas/attractions/crow%E2%80%99s-nest-ferris-wheel">Crow's Nest</a> at <a href="parks#FiestaTexas">Six Flags Fiesta Texas,</a> San Antonio, TX    <a href="https://www.youtube.com/watch?v=my3YFbXtm4A"><i><small>(Video)</small></i></a></td>
                    </tr>
                    <tr>
                        <td>Height: 150 ft</td>
                        <td>Height: 90 ft</td>
                    </tr>
                </table>
                <br>
            </div>
            <div style="padding-left:25px; padding-right:25px; background-color:lightpink; border-style: double;">
                <br>
                <h4><strong>Accidents:</strong></h4>
                <p>Major risks of Ferris wheels include their <strong>height</strong>, <strong>free-swinging cars</strong>, and <strong>high-powered electrical and mechanical drive systems</strong>.<br>Most of their accidents involve <strong>falls</strong>.</p>
                <p style="margin-top:-12px"> [More info & examples: <a href="accidents#FW">Ferris Wheel Accidents</a>]</p>
            </div>


            <br>
            <br>
            <hr>



            <h2 id="RC"> Roller Coasters </h2>
            <table>
                <tr>
                    <td><iframe width="560" height="315" src="https://www.youtube.com/embed/w6qTQFSOm5A" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></td>
                    <td>
                        <ul style="margin-top:-5px; margin-bottom:-5px;">
                          {% for item in rides_db %}
                            {% if item.name == "Roller Coaster" %}
                              <li><strong>Description: </strong>A <strong>{{ item.name }}</strong> {{ item.description }}</li>
                              <li><strong>History: </strong> {{ item.history }}</li>
                              <li><strong>Speed: </strong>{{ item.speed }}</li>
                              <li><strong>Duration: </strong> {{ item.duration }}</li>
                              <li><strong>Max Height: </strong> {{ item.max_height }}</li>
                            {% else %}
                            {% endif %}
                          {% endfor %}
                        </ul>
                    </td>
                </tr>
                <tr style="background-color:white">
                    <td><p><i><small>First-person view of a roller coaster ride at Pacific Park in Santa Monica, CA.</small></i></p>
                        <p style="margin-top: -20px;"><i><small><a href="https://www.youtube.com/watch?v=w6qTQFSOm5A">(Video)</a></small></i></p>
                    </td>
                </tr>
            </table>
            <div style="padding-left:25px; background-color:lightblue; border-style: double;">
                <br>
                <h4><strong>Examples:</strong></h4>
                <table border="0">
                    <tr>
                        <td style="vertical-align: top;"><img src="https://farm4.staticflickr.com/3041/2637357961_96299945b0_n.jpg" width="502" height="374" alt="The tallest and fastest coaster in the world: Kingda Ka"></td>

                        <td style="vertical-align: top;"><img src="https://newsdotlegolanddotcom.files.wordpress.com/2015/12/dragon-coaster_family.jpg" width = "502" height="374" alt="Dragon coaster in Legoland, California"></td>
                    </tr>
                    <tr style="background-color:lightblue">
                        <td><a href="https://www.sixflags.com/greatadventure/attractions/kingda-ka">Kingda Ka</a> at Six Flags Great Adventure, Jackson, NJ   <a href="https://www.flickr.com/photos/shawn_wainwright/2637357961"><i><small>(Image)</small></i></a></td>

                        <td><a href="https://www.ultimaterollercoaster.com/coasters/dragon_legoland">The Dragon</a> at Legoland California, Carlsbad, CA    <a href="https://legolandcalifornianews.com/home/helpfulhints/what-to-know-about-reserve-n-ride/"><i><small>(Image)</small></i></a></td>
                    </tr>
                    <tr>
                        <td>Height: 456 ft (tallest in the world)</td>
                        <td>Height: 37 ft</td>
                    </tr>
                </table>
                <br>
            </div>
            <div style="padding-left:25px; padding-right:25px; background-color:lightpink; border-style: double;">
                <br>
                <h4><strong>Accidents:</strong></h4>

                <p>Major risks of roller coasters include their <strong>height</strong>, <strong>high speeds</strong>, <strong>rapid directional changes</strong>, and <strong>track-based operation</strong>.<br>Most of their accidents involve <strong>collisions</strong>.</p>
                <p style="margin-top:-12px"> [More info & examples: <a href="accidents#RC">Roller Coaster Accidents</a>]</p>
            </div>


            <br>
            <br>
            <hr>



            <h2 id="SR"> Swing Rides </h2>
            <table>
                <tr>
                    <td><iframe src="https://giphy.com/embed/3o7aD46d4MNu68z70Y" width="480" height="270" frameBorder="0"></iframe></td>
                    <td>
                        <ul style="margin-top:-5px; margin-bottom:-5px;">
                          {% for item in rides_db %}
                            {% if item.name == "Swing Ride" %}
                              <li><strong>Description: </strong>A <strong>{{ item.name }}</strong> {{ item.description }}</li>
                              <li><strong>History: </strong> {{ item.history }}</li>
                              <li><strong>Speed: </strong>{{ item.speed }}</li>
                              <li><strong>Duration: </strong> {{ item.duration }}</li>
                              <li><strong>Max Height: </strong> {{ item.max_height }}</li>
                            {% else %}
                            {% endif %}
                          {% endfor %}
                        </ul>
                    </td>
                </tr>
                <tr style="background-color:white">
                    <td><p><i><small>A swing ride at Electric Daisy Carnival in Orlando, FL. </small></i></p>
                        <p style="margin-top: -20px;"><i><small><a href="https://giphy.com/gifs/insomniacevents-ride-swing-3o7aD46d4MNu68z70Y">(GIF)</a></small></i></p>
                    </td>
                </tr>
            </table>

            <div style="padding-left:25px; background-color:lightblue; border-style: double;">
                <br>
                <h4><strong>Examples:</strong></h4>
                <table border="0">
                    <tr>
                        <td style="vertical-align: top;"><img src="https://cdns.visitorlando.com/includes/content/images/media/images/StarFlyer%20Next%20to%20ICON%20Orlando.jpg" width="455" height="315" alt="Orlando Starflyer"></td>

                        <td style="vertical-align: top;"><iframe width="560" height="315" src="https://www.youtube.com/embed/ggofrV7vg_k" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></td>
                    </tr>
                    <tr style="background-color:lightblue">
                        <td><a href="https://www.bestoforlando.com/articles/orlando-starflyer-worlds-tallest-swing-ride/">Orlando Starflyer</a> on I-Drive, Orlando, FL   <a href="https://www.visitorlando.com/blog/index.cfm/2018/6/1/Orlando-StarFlyer-Now-Open-at-ICON-Orlando-360/"><i><small>(Image)</small></i></a>
                        <br>[with <a href="https://iconorlando.com/">ICON Orlando</a>, a 400-ft tall <a href="#FW">Ferris wheel</a>, for scale]
                        </td>
                        <td><a href="https://www.cedarpoint.com/play/rides/windseeker">WindSeeker</a> at <a href="parks#CedarPoint">Cedar Point,</a> Sandusky, OH    <a href="https://www.youtube.com/watch?v=ggofrV7vg_k"><i><small>(Video)</small></i></a></td>

                    </tr>
                    <tr>
                        <td>Height: 450 ft (tallest in the world)</td>
                        <td>Height: 301 ft</td>
                    </tr>
                </table>
                <br>
            </div>

            <div style="padding-left:25px; padding-right:25px; background-color:lightpink; border-style: double;">
                <br>
                <h4><strong>Accidents:</strong></h4>

                <p>Major risks of swing rides include their <strong>height</strong>, <strong>momentum</strong>, and <strong>dangling-rider setup</strong>.<br>Most of their accidents involve <strong>momentum</strong>.</p>
                <p style="margin-top:-12px"> [More info & examples: <a href="accidents#SR">Swing Ride Accidents</a>]</p>
            </div>

            <br>
            <hr>

            <div>
                <h4>Other References</h4>
                <p>(in addition to the articles, ride pages, and media linked throughout)
                <table class="table">
                      <thead class="thead-dark">
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Ferris Wheels</th>
                                <th scope="col">Roller Coasters</th>
                                <th scope="col">Swing Rides</th>
                            </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">History</th>
                          <td><a href="https://www.smithsonianmag.com/history/history-ferris-wheel-180955300/">History of the Ferris Wheel</a></td>
                          <td><a href="https://science.howstuffworks.com/engineering/structural/roller-coaster1.htm">History of the Roller Coaster</a></td>
                          <td><a href="http://www.historyofcarousels.com/carousel-history/history-of-the-swing-carousels/">History of Swing Rides</a></td>
                        </tr>
                        <tr>
                          <th scope="row">Examples</th>
                          <td><a href="https://en.wikipedia.org/wiki/List_of_Ferris_wheels">List of Ferris Wheels</a></td>
                          <td><a href="https://en.wikipedia.org/wiki/List_of_roller_coaster_rankings">List of Roller Coasters</a></td>
                          <td><a href="https://en.wikipedia.org/wiki/Swing_ride#Locations">List of Swing Rides</a></td>
                        </tr>
                      </tbody>
                </table>
            </div>

        </div>
</body>
</html>
