<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/about.css"></link>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <script>


    function searchFunction() {
    input = document.getElementById('myinput');
    filter = input.value.toUpperCase();
    ul = document.getElementById('myItems');
    li = ul.getElementsByTagName('li');

    for(i=0 ; i< li.length; i++){
        a = li[i].getElementsByTagName('a')[0];
        if(a.innerHTML.toUpperCase().indexOf(filter) > -1){
            li[i].style.display = "";
        }

        else{
            li[i].style.display = 'none';
        }
    }
}


    </script>

    <title>Document</title>
</head>

<body>



  <body>
<div class ="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
              <li class="nav-item active">
                  <a class="nav-link" href="/parks"><strong>Parks</strong><span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="/parksModel">Parks Model<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="/rides"><strong>Rides</strong><span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="/ridesModel">Rides Model</a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="/accidents"><strong>Accidents</strong></a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="/accidentsModel">Accidents Model</a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="/about">[About]  <span class="sr-only">(current)</span></a>
              </li>
              <form action="searchResults" method="get">
                  <input type="text" name="search" placeholder="search" value="" onkeydown="upperCaseF(this)"/>
                  <input type="submit" value="Submit" />
              </form>
          </ul>
      </div>
  </nav>



<ul id= "myItems">
  {% for item in parks_db %}
    <h3>Park</h3>
    {% if item.id == 1 %}
    <li>Name: <a href="/parks">{{item.name}}</a></li>
    <li>Date Opened: <a href="/parks">{{item.opened}}</a></li>
    <li>Location: <a href="/parks">{{item.location}}</a></li>
    <li>Size: <a href="/parks">{{item.size}}</a></li>
    <li>Visitors: <a href="/parks">{{item.annual_visitor}}</a></li>
    <li>Ticket Prices: <a href="/parks">{{item.ticket_price}}</a></li>
    <li>Season: <a href="/parks">{{item.season}}</a></li>

  {% elif item.id == 2 %}
    <li>Name: <a href="/parks">{{item.name}}</a></li>
    <li>Date Opened: <a href="/parks">{{item.opened}}</a></li>
    <li>Location: <a href="/parks">{{item.location}}</a></li>
    <li>Size: <a href="/parks">{{item.size}}</a></li>
    <li>Visitors: <a href="/parks">{{item.annual_visitor}}</a></li>
    <li>Ticket Prices: <a href="/parks">{{item.ticket_price}}</a></li>
    <li>Season: <a href="/parks">{{item.season}}</a></li>

    {% elif item.id == 3 %}
    <li>Name: <a href="/parks">{{item.name}}</a></li>
    <li>Date Opened: <a href="/parks">{{item.opened}}</a></li>
    <li>Location: <a href="/parks">{{item.location}}</a></li>
    <li>Size: <a href="/parks">{{item.size}}</a></li>
    <li>Visitors: <a href="/parks">{{item.annual_visitor}}</a></li>
    <li>Ticket Prices: <a href="/parks">{{item.ticket_price}}</a></li>
    <li>Season: <a href="/parks">{{item.season}}</a></li>

    {% else %}
    {%endif%}
  {% endfor %}

  {% for item in accidents_db %}
  <h3>Accidents</h3>
    {% if item.id == 1 %}
    <li>Cause: <a href="/accidents">{{ item.cause }}</a> </li>
    <li>Date: <a href="/accidents">{{ item.date }} </a> </li>
    <li>Location: <a href="/accidents">{{ item.location }}</a> </li>

    {% elif item.id == 2 %}
    <li>Cause: <a href="/accidents">{{ item.cause }}</a> </li>
    <li>Date: <a href="/accidents">{{ item.date }} </a> </li>
    <li>Location: <a href="/accidents">{{ item.location }}</a> </li>

    {% elif item.id == 3 %}
    <li>Cause: <a href="/accidents">{{ item.cause }}</a> </li>
    <li>Date: <a href="/accidents">{{ item.date }} </a> </li>
    <li>Location: <a href="/accidents">{{ item.location }}</a> </li>

    {% elif item.id == 4 %}
    <li>Cause: <a href="/accidents">{{ item.cause }}</a> </li>
    <li>Date: <a href="/accidents">{{ item.date }} </a> </li>
    <li>Location: <a href="/accidents">{{ item.location }}</a> </li>

    {% elif item.id == 5 %}
    <li>Cause: <a href="/accidents">{{ item.cause }}</a> </li>
    <li>Date: <a href="/accidents">{{ item.date }} </a> </li>
    <li>Location: <a href="/accidents">{{ item.location }}</a> </li>

    {% elif item.id == 6 %}
    <li>Cause: <a href="/accidents">{{ item.cause }}</a> </li>
    <li>Date: <a href="/accidents">{{ item.date }} </a> </li>
    <li>Location: <a href="/accidents">{{ item.location }}</a> </li>

    {% elif item.id == 7 %}
    <li>Cause: <a href="/accidents">{{ item.cause }}</a> </li>
    <li>Date: <a href="/accidents">{{ item.date }} </a> </li>
    <li>Location: <a href="/accidents">{{ item.location }}</a> </li>

    {% elif item.id == 8 %}
    <li>Cause: <a href="/accidents">{{ item.cause }}</a> </li>
    <li>Date: <a href="/accidents">{{ item.date }} </a> </li>
    <li>Location: <a href="/accidents">{{ item.location }}</a> </li>

    {% elif item.id == 9 %}
    <li>Cause: <a href="/accidents">{{ item.cause }}</a> </li>
    <li>Date: <a href="/accidents">{{ item.date }} </a> </li>
    <li>Location: <a href="/accidents">{{ item.location }}</a> </li>

    {% elif item.id == 10 %}
    <li>Cause: <a href="/accidents">{{ item.cause }}</a> </li>
    <li>Date: <a href="/accidents">{{ item.date }} </a> </li>
    <li>Location: <a href="/accidents">{{ item.location }}</a> </li>

    {% else %}
    {% endif %}
  {% endfor %}

  {% for item in rides_db %}
  <h3>Rides</h3>
    {% if item.id == 1 %}
    <li>Name: <a href="/rides">{{ item.name }}</a></li>
    <li>Speed: <a href="/rides">{{ item.speed }}</a></li>
    <li>Duration: <a href="/rides">{{ item.duration }}</a></li>
    <li>Height: <a href="/rides">{{ item.height }}</a></li>

    {% elif item.id == 2 %}
    <li>Name: <a href="/rides">{{ item.name }}</a></li>
    <li>Speed: <a href="/rides">{{ item.speed }}</a></li>
    <li>Duration: <a href="/rides">{{ item.duration }}</a></li>
    <li>Height: <a href="/rides">{{ item.height }}</a></li>

    {% elif item.id == 3 %}
    <li>Name: <a href="/rides">{{ item.name }}</a></li>
    <li>Speed: <a href="/rides">{{ item.speed }}</a></li>
    <li>Duration: <a href="/rides">{{ item.duration }}</a></li>
    <li>Height: <a href="/rides">{{ item.height }}</a></li>

    {% else %}
    {% endif %}
  {% endfor %}


</ul>

<script type="text/javascript">
function processForm()
{
var parameters = location.search.substring(1).split("&");
var temp = parameters[0].split("=");
l = unescape(temp[1]);
newText = l
ul = document.getElementById('myItems');
li = ul.getElementsByTagName('li');

for(i=0 ; i< li.length; i++){
   a = li[i].getElementsByTagName('a')[0];
   if(a.innerHTML.toUpperCase().indexOf(newText) > -1){
       li[i].style.display = "";
   }

   else{
       li[i].style.display = 'none';
   }
}

}
processForm();
</script>
</body>

</html>
