

#borderimg {
    border: 10px solid transparent;
    padding: 15px;
}

body {

    background-image = url("aboutBackground.jpg");
    background-repeat: no-repeat;
}

th {
    cursor: pointer;
}

th, td {
    text-align: left;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}
